# Go into current git repo's root
alias gr='cd `g root`'

# Weird trick to make sudo keep aliases (https://wiki.archlinux.org/index.php/Sudo#Passing_aliases)
# Works fine, but then aliases like cp='nocorrect cp' won't work anymore, will re-enable when I find a workaround.
# alias sudo='sudo '

# Nicer cat for code
alias c='pygmentize -O style=monokai -f console256 -g'

alias b='bower'

alias gt='gulp --tasks-simple'

alias git='LANG=en_US.UTF-8 git'

alias npp='tar -tf $(npm pack) && rm *.tgz'
alias nri='rm -rf ./node_modules package-lock.json && npm i'
alias nrit='nri && npm t'
alias lri='npm ci'
alias lrit='lri && npm t'
alias nup='npm up'

alias g='git'
alias gg='git glogg'
alias gcn='git clean -n'
alias gcf='git clean -f'

alias l='exa --group-directories-first --time-style long-iso --icons'
alias ll='l -lah'
alias lt='ll --tree'

alias dcd='docker-compose down -v'
alias dcu='docker-compose up -d --build'
alias dcr='dcd && dcu'

function s() {
  local mixedCase="(([a-z].*[A-Z])|([A-Z].*[a-z]))"
  local flags='-R -n'

  # Add smart-case feature (ack inspired)
  if [[ ($@ != $@:u) && ! ($@ =~ $mixedCase) ]]; then
    flags="$flags -i"
  fi
  echo $flags -e "\"$@\"" . | xargs grep
}

function dtunnel() {
  ssh -t -L "$3":localhost:"$3" "$1" "ssh -L ${3}:localhost:${3} $2"
}

mkcd () { mkdir -p "$1" && cd "$1" }

