# Go into current git repo's root
alias gr='cd `g root`'

# Weird trick to make sudo keep aliases (https://wiki.archlinux.org/index.php/Sudo#Passing_aliases)
# Works fine, but then aliases like cp='nocorrect cp' won't work anymore, will re-enable when I find a workaround.
# alias sudo='sudo '

# Nicer cat for code
alias c='pygmentize -O style=monokai -f console256 -g'

alias b='bower'

alias gt='gulp --tasks-simple'

alias git='LANG=en_US git'

function s() {
  local mixedCase="(([a-z].*[A-Z])|([A-Z].*[a-z]))"
  local flags='-R -n'

  # Add smart-case feature (ack inspired)
  if [[ ($@ != $@:u) && ! ($@ =~ $mixedCase) ]]; then
    flags="$flags -i"
  fi
  echo $flags -e "\"$@\"" . | xargs grep
}

function dtunnel() {
  ssh -t -L "$3":localhost:"$3" "$1" "ssh -L ${3}:localhost:${3} $2"
}
