# system
.sudo_as_admin_successful
.aptitude
.cache
.config
.links2
.elinks
.local
.rnd
.dirinfo
.lesshst
.ssh

# bash
.bash_history
.bash_logout
.bashrc

# mongodb
.dbshell
.mongorc.js

# mysql
.mysql_history

# networking
.netrc

# node
npm-debug.log
.npmrc
.npm
.node-gyp
.forever
.pm2

# ruby
.gem

# vi
.*.swp
.viminfo
.vim/.netrwhist

# zsh
.zcompdump
.zsh_history
.zsh-update
.fasd.data
