[submodule ".nvm"]
	path = .nvm
	url = git@github.com:creationix/nvm.git 
[submodule ".mongo-hacker"]
	path = .mongo-hacker
	url = git@github.com:TylerBrock/mongo-hacker.git 
[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:Marsup/prezto.git
[submodule ".fasd"]
	path = .fasd
	url = git@github.com:clvv/fasd.git
