[user]
  name = Marsup
  email = marsup@gmail.com

[color]
  ui = auto

[core]
  editor = vim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  autocrlf = input

[branch]
  autosetuprebase = always

[alias]
  aliases = "!git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'"

  # Simple aliases
  c = commit
  co = checkout
  st = status -sb
  s = stash
  pull = pull --all

  # Commit stuff
  ca = commit -av
  cf = commit --fixup=HEAD
  caf = commit -a --fixup=HEAD
  cs = commit -ev --squash=HEAD
  cas = commit -eav --squash=HEAD
  amend = commit --amend
  ai = add -i
  unadd = rm -r --cached

  # Diff stuff
  in = "!git rup; git log ..@{u}"
  out = log @{u}..
  din = "!git rup; git d ..@{u} -p"
  dout = diff -w @{u}..
  dpin = "!git rup; git log ..@{u} -p"
  dpout = log @{u}.. -p
  lin = "!git rup; git log ..@{u} --oneline"
  lout =log @{u}.. --oneline
  slin = "!git submodule foreach git lin"
  slout = "!git submodule foreach git lout"
  d = diff -w
  ds = diff -w --cached

  # Tree navigation
  glog = log --oneline --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr - %cD) %C(bold blue)<%an>%Creset'
  glogg = "!git glog --branches --remotes"
  glogs = "!git glog --stat"
  gloggs = "!git glogg --stat"

  # Branch stuff
  ri = rebase -i --autosquash
  rup = remote update -p
  undo = reset --soft HEAD^
  track = checkout -t
  rebranch = "!f() { git branch \"$1\" HEAD && git reset --hard @{u} && git checkout \"$1\"; };f"

  # Some tools
  h = rev-list --max-count=1 HEAD
  stats = "!git log --format='%C(bold blue)%aN%Creset <%C(yellow)%aE%Creset>' | awk '{arr[$0]++} END{for (i in arr){print arr[i], i;}}' | sort -rn"
  gstats = "!git log --branches --format='%C(bold blue)%aN%Creset <%C(yellow)%aE%Creset>' | awk '{arr[$0]++} END{for (i in arr){print arr[i], i;}}' | sort -rn"
  root = rev-parse --show-toplevel
  pack = "!git archive HEAD --format=tar | gzip > ./`git h`.tar.gz"
  ignore= "!([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore"
  su = submodule foreach git pull
  serve = "!git daemon --reuseaddr --verbose --base-path=. --export-all ./.git"
  wserve = "!git daemon --reuseaddr --verbose --enable=receive-pack --base-path=. --export-all ./.git"
  ignored = ls-files --others -i --exclude-standard

[push]
  default = tracking

[rerere]
  enabled = 1

[merge]
  tool = kdiff3

[mergetool]
  prompt = false
  keepBackup = false
  keepTemporaries = false

[diff]
  algorithm = patience
  renames = copies
  mnemonicPrefix = true
  wordRegex = .

[fetch]
  recurseSubmodules = true

[status]
  submoduleSummary = true

